body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Beige Farbton */
}

.login-container {
    display: flex;        /* Flexbox für die Ausrichtung verwenden */
    flex-direction: column; /* Elemente vertikal anordnen */
    align-items: center;  /* Zentriert die Elemente horizontal */
    justify-content: center; /* Zentriert die Elemente vertikal, falls notwendig */
    width: 300px;         /* Breite des Containers festlegen */
    margin: auto;         /* Automatisch zentrieren in seinem Container */
    padding: 20px;        /* Innenabstand */
    border-radius: 10px;  /* Abgerundete Ecken */
    background-color: #fff; /* Hintergrundfarbe */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Schatten für Tiefe */
    margin-top: 150px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;          /* Nimmt die volle Breite des Elternelements ein */
    padding: 10px;        /* Innenabstand für die Eingabefelder */
    margin-bottom: 15px;  /* Abstand zwischen den Eingabefeldern */
    border: 1px solid #ccc; /* Rahmenfarbe */
    border-radius: 5px;   /* Leicht abgerundete Ecken für die Eingabefelder */
}

.login-container button {
    width: 25%;          /* Button nimmt die volle Breite ein */
    padding: 10px;        /* Innenabstand des Buttons */
    background-color: #007BFF; /* Blaue Hintergrundfarbe */
    color: white;         /* Weiße Textfarbe */
    border: none;         /* Kein Rand */
    border-radius: 5px;   /* Abgerundete Ecken */
    cursor: pointer;      /* Cursor ändert sich zu einem Zeiger */
}

.login-container button:hover {
    background-color: #0056b3; /* Dunklerer Blauton beim Überfahren */
}

.login-container h1 {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0; /* Reduzierter vertikaler Abstand */
    background-color: #f4f4f4; /* Hintergrundfarbe */
    color: #333; /* Textfarbe */
    width: 100%;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.1); /* Leichter Schatten für einen subtilen erhöhten Effekt */
}

/* Für Footer Formatierung, damit am Ende angezeigt wird */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;  /* Nimmt verfügbaren Raum ein */
}
/* Footer Formatierung Ende */